* {
  background: #282c34;
}

.Questions {
  color: white;
}

.incorrect-answer {
  border: 3px solid red;
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
}

.user-header {
  border: 3px solid rgb(6, 240, 15);
  display: flex;
  justify-content: space-around;
}

.logo-trivia {
  margin: 150px;
  width: 600px;
}

button {
  background-color: white;
}

button:disabled {
  color: black;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
