* {
  background: #282c34;
}

.Questions {
  color: white;
}

.incorrect-answer {
  border: 3px solid red;
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
}

.user-header {
  border: 3px solid rgb(6, 240, 15);
  display: flex;
  justify-content: space-around;
}

.logo-trivia {
  margin: 150px;
  width: 600px;
}

button {
  background-color: white;
}

button:disabled {
  color: black;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.timer-container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;
}

.timer-icon {
  position: relative;
  width: 75px;
  z-index: 0;
}

.timer-text {
  background-color: lightgoldenrodyellow;
  border-radius: 3px;
  color: black;
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
  position: absolute;
  z-index: 1;
}

