* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loginMainDiv {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

.logo_trivia {
  margin-top: 36px;
  width: 80%;
}

.formsLogin {
  color: white;
}

::placeholder {
  color: rgba(255, 255, 255, 0.521);
}

.inputsLogin {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.loginEmailInput, .loginNameInput {
  background-color: rgb(43, 43, 43);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgb(19, 19, 19);
  color: rgba(209, 207, 207, 0.514);
  outline: none;
  padding: 8px;
  width: 250px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 3px 54px;
  width: 250px;
}

.playBtn {
  background-color: rgb(76, 3, 158);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgb(19, 19, 19);
  color: white;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  padding: 8px;
}

.playBtn:hover {
  background-color: white;
  color: black;
}

.settings {
  background-color: rgb(43, 43, 43);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgb(19, 19, 19);
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 8px;
  outline: none;
  padding: 8px;
  text-decoration: none;
}

.settings:hover {
  background-color: white;
  color: black;
}
