.Questions {
  color: white;
}

.incorrect_answer {
  border: 3px solid red;
}

.correct_answer {
  border: 3px solid rgb(6, 240, 15);
}

.user_header {
  border: 3px solid rgb(6, 240, 15);
  display: flex;
  justify-content: space-around;
}

button {
  background-color: white;
}

button:disabled {
  color: black;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.botaoInvis {
  visibility: hidden;
}
.botaoVis {
  visibility: visible;
}