.Questions {
  color: white;
  margin: 0 auto;
}

.mainQuestionContent {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.containerQuestions {
  align-content: center;
  align-items: center;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: center;
  margin-top: 150px;
  position: relative;
  width: 100%;
}

.containerInfo {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
  width: 100%;
}

.questInfo {
  height: 322px;
  padding-left: 40px;
  padding-top: 15px;
  width: 50%;
}

.answers {
  padding: 10px;
  width: 50%;
}

.titleQuestion {
  font-size: 24px;
  margin-bottom: 20px;
}

.contentQuestion {
  font-size: 18px;
}

.incorrect_answer {
  background-color: red;
  border: 3px solid red;
  border-radius: 8px;
  color: white;
  height: 70px;
  margin-bottom: 5px;
  transition: 300ms;
  width: 100%;
}

.correct_answer {
  background-color: rgb(6, 240, 15);
  border: 3px solid rgb(6, 240, 15);
  border-radius: 8px;
  height: 70px;
  margin-bottom: 5px;
  transition: 300ms;
  width: 100%;
}

button {
  background-color: white;
}

button:disabled {
  color: black;
}

.buttonInvis {
  visibility: hidden;
}

.buttonVis {
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  padding: 8px;
  visibility: visible;
}

.question {
  border-radius: 8px;
  height: 70px;
  margin-bottom: 5px;
  width: 100%;
}

.timer_container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;
}

.timer_icon {
  position: relative;
  width: 75px;
  z-index: 0;
}

.timer_text {
  background-color: lightgoldenrodyellow;
  border-radius: 3px;
  color: black;
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
  position: absolute;
  z-index: 1;
}
