.ranking_page {
  margin: 0 auto;
  max-width: 900px;
}

.header_ranking {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90%;
  padding: 28px 0px;
}

.ranking_container {
  border: 3px solid rgb(39, 24, 73);
  border-radius: 16px;
  margin: 16px auto;
  margin-bottom: 15px;
  width: 70%;
}

.header_ranking button {
  background-color: rgb(76, 3, 158);
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgb(37, 37, 37);
  color: rgba(255, 255, 255, 0.466);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  padding: 4px 28px;
}

.header_ranking button:hover {
  background-color: white;
  color: black;
}

.ranking_page h1 {
  color: white;
  text-align: center;
}

.ranking_container th {
  width: 250px;
}


.ranking_container th {
  border-bottom: 3px solid rgb(39, 24, 73);;
}

.ranking_container .ranking_name {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  width: 250px;
}

.ranking_container .ranking_score {
  text-align: center;
  width: 250px;
}

.ranking_container img {
  border-radius: 50%;
  width: 45px;
}

.ranking_container p {
  color: white;
  font-size: 18px;
}

