.timer_container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;
}

.timer_icon {
  position: relative;
  width: 75px;
  z-index: 0;
}

.timer_text {
  background-color: lightgoldenrodyellow;
  border-radius: 50%;
  color: black;
  font-size: 24px;
  font-weight: 700;
  height: 20px;
  margin-left: -6px;
  margin-top: 2px;
  position: absolute;
  width: 20px;
  z-index: 1;
}
